body {
	background: rgb(255, 255, 255); color: rgb(112, 112, 112); line-height: 1.66em; font-family: simsun,sans-serif;
}
body {
	font-size: 12px;
}
select {
	font-size: 12px;
}
input {
	font-size: 12px;
}
button {
	font-size: 12px;
}
h1 {
	font-size: 12px;
}
h2 {
	font-size: 12px;
}
h3 {
	font-size: 12px;
}
h4 {
	font-size: 12px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 12px;
}
body {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h1 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h2 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h3 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h4 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h5 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h6 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
ul {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
ol {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
li {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
form {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
p {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
dl {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
dt {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
dd {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
table {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
th {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
td {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
img {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
blockquote {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
input {
	line-height: normal;
}
button {
	line-height: normal;
}
textarea {
	line-height: normal;
}
img {
	line-height: normal;
}
abbr {
	border: 0px currentColor; border-image: none; font-style: normal; text-decoration: none;
}
acronym {
	border: 0px currentColor; border-image: none; font-style: normal; text-decoration: none;
}
address {
	border: 0px currentColor; border-image: none; font-style: normal; text-decoration: none;
}
cite {
	border: 0px currentColor; border-image: none; font-style: normal; text-decoration: none;
}
q {
	border: 0px currentColor; border-image: none; font-style: normal; text-decoration: none;
}
em {
	border: 0px currentColor; border-image: none; font-style: normal; text-decoration: none;
}
code {
	border: 0px currentColor; border-image: none; font-style: normal; text-decoration: none;
}
var {
	border: 0px currentColor; border-image: none; font-style: normal; text-decoration: none;
}
dfn {
	border: 0px currentColor; border-image: none; font-style: normal; text-decoration: none;
}
ins {
	border: 0px currentColor; border-image: none; font-style: normal; text-decoration: none;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
select {
	vertical-align: middle;
}
button {
	vertical-align: middle;
}
input {
	vertical-align: middle;
}
.ipt-c {
	margin: 0px 3px 0px 0px; padding: 0px; width: 16px; height: 16px; overflow: hidden;
}
.ipt-r {
	margin: 0px 3px 0px 0px; padding: 0px; width: 16px; height: 16px; overflow: hidden;
}
a {
	color: rgb(21, 64, 119);
}
a:hover {
	text-decoration: underline;
}
.header {
	
}
.body {
	
}
.footer {
	
}
.part {
	
}
.clear {
	
}
.header::after {
	height: 0px; overflow: hidden; clear: both; font-size: 0px; display: block; visibility: hidden; content: ".";
}
.body::after {
	height: 0px; overflow: hidden; clear: both; font-size: 0px; display: block; visibility: hidden; content: ".";
}
.footer::after {
	height: 0px; overflow: hidden; clear: both; font-size: 0px; display: block; visibility: hidden; content: ".";
}
.part::after {
	height: 0px; overflow: hidden; clear: both; font-size: 0px; display: block; visibility: hidden; content: ".";
}
.clear::after {
	height: 0px; overflow: hidden; clear: both; font-size: 0px; display: block; visibility: hidden; content: ".";
}
.sec-mod {
	background-image: url("http://mimg.qiye.163.com/xm/qiye/login/img/bg.gif"); background-repeat: no-repeat;
}
.sec-mod h2 {
	background-image: url("http://mimg.qiye.163.com/xm/qiye/login/img/bg.gif"); background-repeat: no-repeat;
}
.login-mod .goto {
	background-image: url("http://mimg.qiye.163.com/xm/qiye/login/img/bg.gif"); background-repeat: no-repeat;
}
.login-mod .ipt-b {
	background-image: url("http://mimg.qiye.163.com/xm/qiye/login/img/bg.gif"); background-repeat: no-repeat;
}
.login-mod h2 {
	background-image: url("http://mimg.qiye.163.com/xm/qiye/login/img/bg.gif"); background-repeat: no-repeat;
}
.login-mod h2 em {
	background-image: url("http://mimg.qiye.163.com/xm/qiye/login/img/bg.gif"); background-repeat: no-repeat;
}
.logo span {
	background-image: url("http://mimg.qiye.163.com/xm/qiye/login/img/bg.gif"); background-repeat: no-repeat;
}
.bg {
	background-image: url("http://mimg.qiye.163.com/xm/qiye/login/img/bg.gif"); background-repeat: no-repeat;
}
.login-mod .ipt-t {
	background-image: url("http://mimg.qiye.163.com/xm/qiye/login/img/bgx.gif"); background-repeat: repeat-x;
}
.bgx {
	background-image: url("http://mimg.qiye.163.com/xm/qiye/login/img/bgx.gif"); background-repeat: repeat-x;
}
.page {
	margin: auto; width: 950px;
}
.header {
	padding: 25px 0px;
}
.logo {
	float: left;
}
.logo img {
	float: left; display: inline;
}
.logo span {
	float: left; display: inline;
}
.logo img {
	margin-top: 2px; margin-right: 15px;
}
.logo span {
	width: 176px; height: 32px; text-indent: -999em; overflow: hidden;
}
.toplinks {
	line-height: 32px; float: right;
}
.toplinks {
	color: rgb(142, 142, 142);
}
.toplinks a {
	color: rgb(142, 142, 142);
}
.toplinks a {
	margin: 0px 3px; text-decoration: none;
}
.toplinks a:hover {
	text-decoration: underline;
}
.main-part {
	width: 950px; height: 428px; overflow: hidden; position: relative;
}
.login-mod {
	padding: 35px 25px; left: 505px; top: 35px; width: 363px; height: 288px; position: absolute;
}
.login-mod h2 {
	margin: 0px 10px;
}
.login-mod .fi {
	margin: 0px 10px;
}
.login-mod h2 {
	width: 151px; height: 30px; text-indent: -999em; overflow: hidden; margin-bottom: 10px;
}
.login-mod .fi {
	padding: 10px 0px;
}
.login-mod .fi-notit {
	padding-left: 4em; position: relative;
}
.login-mod .fi-notit label {
	margin-right: 20px;
}
.login-mod label.tit {
	width: 66px; color: rgb(0, 0, 0); line-height: 29px; float: left; _margin-right: -3px;
}
.login-mod .ipt-t {
	padding: 6px 4px; border: 1px solid rgb(122, 131, 149); border-image: none; width: 235px; font-family: Arial,sans-serif; font-size: 14px; margin-right: 10px;
}
.login-mod .ipt-sample {
	color: rgb(120, 143, 158);
}
.login-mod .ipt-b {
	background-position: 0px -72px; padding: 0px; border: 0px currentColor; border-image: none; width: 90px; height: 30px; color: rgb(68, 68, 68); font-size: 14px; font-weight: bold; cursor: pointer;
}
.login-mod .goto {
	background-position: 0px -144px; padding: 20px 0px 0px 10px; font-size: 14px; margin-top: 20px;
}
.body .login-mod-multidomain {
	padding: 18px 25px;
}
.body .login-mod-multidomain .goto {
	padding: 13px 0px 8px 10px; margin-top: 0px;
}
.login-mod form .fi select {
	padding: 0px; width: 245px; height: 28px; line-height: 28px;
}
.login-mod .err {
	left: 154px; top: 10px; width: 145px; height: 30px; color: rgb(216, 0, 1); line-height: 16px; position: absolute;
}
.sec-part {
	padding-top: 20px;
}
.sec-mod {
	width: 445px; line-height: 25px; padding-bottom: 20px;
}
.sec-mod h2 {
	width: 110px; height: 36px; text-indent: -999em; overflow: hidden; margin-bottom: 10px;
}
.intro-mod {
	background-position: 350px -252px; float: left;
}
.intro-mod h2 {
	background-position: -144px -72px;
}
.news-mod {
	background-position: 45px -360px; float: right;
}
.news-mod h2 {
	background-position: -288px -72px;
}
.footer {
	text-align: center; margin-top: 20px; border-top-color: rgb(237, 237, 237); border-top-width: 1px; border-top-style: solid;
}
.footer {
	color: rgb(142, 142, 142);
}
.footer a {
	color: rgb(142, 142, 142);
}
.footer span {
	margin: 0px 10px; text-decoration: none;
}
.footer a {
	margin: 0px 10px; text-decoration: none;
}
.footer span {
	font-family: Arial,sans-serif;
}
.footer a:hover {
	text-decoration: underline;
}
.footer .link {
	padding: 10px 0px;
}
.footer .right {
	padding: 10px 0px;
}
